@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Custom Scrollbar NeoJournal === */

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
    /* lumière douce */
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}


/* Pour Firefox */

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}